<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行 / パッケージ処理で使用されます。この MSBuild ファイルを編集すると、
この処理の動作をカスタマイズできます。詳細については、https://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/43ea1964-f94b-44da-95ba-6325e610c0d1/resourcegroups/sampletodo/providers/Microsoft.Web/sites/SampleTodoMobileApp</ResourceId>
    <ResourceGroup>sampletodo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sampletodomobileapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sampletodomobileapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SampleTodoMobileApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SampleTodoMobileApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_TableConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sampletodo-xamarin-sv.database.windows.net,1433;Initial Catalog=sampletodo_db;User ID=masuda@sampletodo-xamarin-sv;Password=Marenijr!0525" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SampleTodo.MobileApp.Models.MobileServiceContext, SampleTodo.MobileApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sampletodo-xamarin-sv.database.windows.net,1433;Initial Catalog=sampletodo_db;User ID=masuda@sampletodo-xamarin-sv;Password=Marenijr!0525</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sampletodo-xamarin-sv.database.windows.net,1433;Initial Catalog=sampletodo_db;User ID=masuda@sampletodo-xamarin-sv;Password=Marenijr!0525</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>